@keyframes up-right {
    0% {<!--from w w w .  j  a va 2  s. c  o m-->
        transform: scale(1);
        opacity: .25
    }
    50% {
        transform: scale (1, 5);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: .25;
    }
}
.circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    opacity: .25;
}
.pulse-red {
    background-color: red;
    position: absolute;
    -webkit-animation: up-right 1s infinite;
    -moz-animation: up-right 1s infinite;
    -o-animation: up-right 1s infinite;
    animation: up-right 1s infinite;
}

.circle-grey {
    background-color: grey;
    position: absolute;
}

#DAQ-charts .card-body {
  padding: 0.5rem !important;
}

.error-input {
 border:1px solid red;
}

.inputColor{
  visibility: hidden;
  width: 23px;
  height: 23px;
  padding: 0;
}

.RecordBlink {
  animation: blinker 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}
@keyframes blinker {
  from { opacity: 1; }
  to { opacity: 0; }
}

.DAQ-large-card .ui-sortable-placeholder{
  max-height: 0px !important;
 background-color: lightgrey !important;
 border-style: dashed !important;
}

.DAQlargecard-hover{
  background-color: lightgrey !important;
  border-style: dashed !important;
}
